<div class="container">
  <div class="page-header">
    <h1>Our List of Shoppings<small> for the lazy times</small></h1>
  </div>
</div>

<nav class="navbar-default">
  <% if (isAuthenticated) { %>
    <div class="container-fluid">

      <div class="col-md-1">
        <a href="/">
          <button type="button" class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Home">
            <span class="glyphicon glyphicon-home" aria-hidden="true" action></span>
          </button>
        </a>
      </div>

    <div class="col-md-11 text-right">

        <a href="/users/profile">
          <button type="button" class="btn btn-info btn-lg" align="right" data-toggle="tooltip" data-placement="bottom" title="Add item">
            <span class="glyphicon glyphicon-user" aria-hidden="true" action></span>
          </button>
        </a>

        <a href="/items/add">
          <button type="button" class="btn btn-info btn-lg" align="right" data-toggle="tooltip" data-placement="bottom" title="Add item">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" action></span>
          </button>
        </a>

        <a href="/users/logout">
          <button type="button" class="btn btn-info btn-lg" align="right" data-toggle="tooltip" data-placement="bottom" title="Logout">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true" action></span>
          </button>
        </a>
      </div>

    </div>
    <h5 class="pull-right">Logged in as: <strong><%=user.local.nickname%></strong></h5>

  <% } %>
</nav>
