<div class="jumbotron">
  <h1>Hey you!</h1>
  <p>Login or Signup to use this shopping list!</p>
  <p><a class="btn btn-info btn-lg" href="/users/login" role="button">Login</a>
  <a class="btn btn-info btn-lg" href="/users/signup" role="button">Signup</a></p>
</div>
