<h3>New Family Member</h3>

<form action="/families/<%=family.id%>/addMember" method="post">

  <div class="form-group">
    <label for="users">Member Email</label>
    <input type="email" class="form-control" name="userEmail" id="userEmail">
  </div>

  <input type="submit" class="btn btn-default">
</form>
