<h3>Edit Family</h3>

<form method="POST" action="/families/<%=family%>?_method=PUT">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" name="name" id="name" value="<%=family.name%>">
  </div>

  <input type="submit" class="btn btn-default">
</form>
