<h3><%= family.name %></h3>

<% if (family.users.length !== 0) { %>
  <% family.users.forEach(function(user) { %>
    <div class="container-fluid list-group-item">
      <%= user %>
    </div>
  <% }) %>
<% } else { %>
  <div class="container-fluid">
    <a href="/users/add" class= "btn btn-info">Add Users</a>
  </div>
<% } %>

<br>

<div class="container-fluid">

  <a href="/families/<%=family.users%>/edit" class="btn btn-info col-md-2">Edit Family</a>

  <form method="POST" action="/families/<%=family.users%>?_method=DELETE">
    <button class="btn btn-danger col-md-2" type="submit">Delete Family</button>
  </form>

</div>
