
<% include ../partials/flash %>

<h3>Categories</h3>

<div class="container-fluid">
  <div class="list-group">
    <% if (categories.length !== 0) {%>
    <% categories.forEach(function(category) { %>
      <a href="<%= category._id %>" class="list-group-item default">
        <h4 class="list-group-item-heading"><span class="badge"><%=category.items.length%></span> <%= category.name%> <small><%=category.family.name%></small></h4>
      </a>

  <% }) %>
  </div>

  <% } else { %>

      <h4>No category created</h4>

    <% } %>

    <a href="/categories/new" class= "btn btn-info">Create Category</a>
</div>
