<% include ../partials/flash %>

<h3>New Category</h3>

<form action="/categories/new" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name">
  </div>


  <%# <div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" name="color" id="color">
  </div>
  %>

  <div class="form-group">
    <input type="text" class="form-control hidden" name="family" id="family" value="<%=user.family%>">
  </div>

  <input type="submit" class="btn btn-default">
</form>
