<h1>NEW GROUP</h1>

<form action="/categories/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" name="color" id="color" placeholder="Color">
  </div>

  <input type="submit" class="btn btn-default">
</form>
