<div class="container-fluid">

<form action= "/items/add" method="post">
  <div class="form-group">
    <label for="name">Item</label>
    <input type="name" class="form-control" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" name="quantity" id="quantity">
  </div>

  <label for="budget">Budget</label>
  <div class="form-group">
    <input type="text" class="form-control" name="budget" id="budget">
  </div>

  <div class="form-group">
    <label for="remark">Remark</label>
    <input type="text" class="form-control" name="remark" id="remark">
  </div>

  <div class = "form-group">
        <label>Categories</label>

        <ul>
          <% allCategories.forEach(category => { %>
            <li>
              <label>
                <input type="checkbox" name="id" value="<%=category.id%>">
                <%= category.name %>
              </label>
            </li>
          <%})%>
          <li><a href="/categories/new">New Category</a></li>
        </ul>
      </div>


      <pre><%=allCategories%></pre>


  <input type="submit" class="btn btn-info">
</form>

</div>
